---
layout: layouts/page.njk
title: Alpha Consumer Platinum Card
lead: "<p>The Alpha Consumer Platinum Card has finally arrived. As a Premium member you get an extra 22 buy points for your first purchase while using the card and another 7 on your second purchase. So get your Alpha Consumer Platinum Card today!</p>"
permalink: /services/alpha-consumer-platinum-card/
seoTitle: "Alpha Consumer Platinum Card | Premium SAFE Payment – Alpha Consumer Services"
description: "Upgrade to the Alpha Consumer Platinum Card. Enjoy 22.7% higher bonus rates plus the exclusive SAFE system – seamless, untraceable luxury purchases with premium cardholder benefits."
keywords: "Alpha Consumer Platinum Card, SAFE payment system, premium credit card, bonus rates, luxury consumer card"
ogTitle: "Alpha Consumer Platinum Card – Premium Benefits Beyond the Standard Card"
ogDescription: "Get 22.7% higher bonus rates and the exclusive SAFE system. The Alpha Consumer Platinum Card takes your purchasing power to the next level."
---
<a href="/assets/images/acs-platinum-card-front-web.png" data-pswp-width="1140" data-pswp-height="720">
  <img src="/assets/images/acs-platinum-card-front-web-1140x720.png" class="aligncenter img-responsive" alt="Alpha Consumer Platinum Card" decoding="async" />
</a>
<p>In addition to having all the benefits of the original Alpha Consumer Card, The Alpha Consumer Platinum Card has up to 22,7 % higher bonus rates for most* buys. As if that&#8217;s not reason enough to acquire the Alpha Consumer Platinum Card, there is one exclusive benefit that will knock your socks off and even clean them for you and put them folded back in your drawer.</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tghT6dYLRvA?autoplay=0&rel=0&loop=0&showinfo=1&disablekb=1&modestbranding=1&controls=0&autohide=1&vq=hd1080" width="300" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
<p>&nbsp;<br />
Alpha Consumer Services has developed a revolutionary new system called SAFE (Secured Acquired Finance Establishment). This system allows your money to be transferred directly to the local ACS Bank as you swipe your card for purchase, and then immediately transferred again to an overseas bank account where it buys stock options in ACS for the amount of your original purchase, thereby removing the trace back to your account.</p>
<p>In return ACS will then buy the selected item(s) for you, in ASC&#8217;s name, by transffering the allotted amount to the terminal at which you first made your purchase. You can now leave with your newly acquired goods and the only trace of this is a transfer of money to your local ACS Bank where its statement will read once a month &#8220;Platinum Membership Fee [given month]&#8221;.</p>
<p><small><em>* this includes such items as ammunition, guns, knives, protective clothing, all bathroom equipment, all cleaning items and even some shoes and boots.</em></small></p>
