<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} &#8211; {{ site.title }}</title>
<link rel="stylesheet" href="/assets/css/bootstrap-alpha.css" />
<link rel="stylesheet" href="/assets/css/dahlskebank.css" />
</head>
<body class="error404 layout-default">
{{ content | safe }}
</body>
</html>
