---
title: Commercial goes viral
date: 2011-01-30
author: Gordon Goldman
excerpt: "The commercial for our Alpha Consumer Card became a major Internet hit after Gordon Goldman uploaded the video to both Facebook and YouTube. Goldman said he knew this would happen and that he couldn't believe that anyone in the ACS administration hadn't thought of this before."
lead: "<p>The commercial for our Alpha Consumer Card became a major Internet hit after Gordon Goldman uploaded the video to both Facebook and YouTube. Goldman said he knew this would happen and that he couldn&#8217;t believe that anyone in the ACS administration hadn&#8217;t thought of this before.</p>"
tags:
  - posts
  - Alpha Consumer Card
seoTitle: "Commercial Goes Viral | Alpha Consumer Services Press Release"
description: "The Alpha Consumer Card commercial uploaded by Gordon Goldman to Facebook and YouTube became a major internet hit – proving ACS has what it takes to capture the world's attention."
keywords: "Alpha Consumer Card commercial viral, Alpha Consumer Services advertising, ACS YouTube"
---
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PIUNcZ4M7zE?autoplay=0&rel=0&loop=0&showinfo=1&disablekb=1&modestbranding=1&controls=0&autohide=1&vq=hd1080" width="300" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
<br />
<p>The commercial is currently banned from television in most countries, but can be seen on <a title="Alpha Consumer Card" href="/services/alpha-consumer-card/">our web site</a>, <a href="http://www.youtube.com/gordongoldman" target="_blank" rel="noopener">YouTube</a>&nbsp;and <a href="http://www.facebook.com/alphaconsumercard" target="_blank" rel="noopener">Facebook</a>. Lemmy Qang, renowned Asian music video director who directed the commerical, can&#8217;t understand why the commercial was banned, and points out that this one isn&#8217;t even obscene or offensive. &#8220;My next commercial is going to make this one look like a commercial for kindergartners,&#8221; Qang announced during his press conference for Pandemie 2.</p>
<p>Now representing Alpha Consumer Services on Facebook and YouTube, Gordon Goldman says he will take all social networking web sites by storm, starting with LinkedIn, Twitter, hi5 and Badoo. The only social network he will not touch, is Myspace. He expressed a strong aversion to Myspace&#8217;s design and content, and said that only garage bands and 14-year old girls with a glitter-fetish are on Myspace, none of which are in Goldman&#8217;s personal target market.</p>
<p>&#8220;People who play in garage bands have no money and are among the dullest people on Earth,&#8221; said a rather aggravated Goldman after several requests from clients and demands from the board of directors to create a profile for Alpha Consumer Services on Myspace. &#8220;I can&#8217;t find any legal ways to incorporate 14-year old girls into our strategic plans for Asia.&#8221;</p>
<p>Public relations expert, John Walker, said it was very important for Alpha Consumer Services to keep a respectable public image and that joining Myspace at this time would be like boarding a sinking ship. Walker was quoted saying, &#8220;We only ride the high tide!&#8221;</p>
