---
layout: layouts/page.njk
title: Contact information
permalink: /contact/
seoTitle: "Contact Alpha Consumer Services – Bangkok Branch & Global Support"
description: "Get in touch with Alpha Consumer Services. Reach our Bangkok Vice Presidents or your local ACS branch for the Alpha Consumer Card, personalized services, or any inquiry. We're here to provide whatever is lacking."
keywords: "Alpha Consumer Services contact, ACS Bangkok, Alpha Consumer Card support"
---

<p>
	Thank you for visiting Alpha Consumer Services web site. We do welcome your comments about our site, as they help us
	in identifying new areas of interest for future content. If you have a question, see our
	<a title="Frequently Asked Questions" href="/faq/">frequently asked questions</a> that may help you prior to
	contacting us.
</p>
<hr />
<div class="row dd-members">
	<div class="col-md-12 col-lg-6">
		<div itemscope="" itemtype="http://schema.org/Person" class="media panel dd-member">
			<figure itemprop="image" class="media-left">
				<img
					decoding="async"
					src="/assets/images/john_walker1.jpg"
					class="attachment-post-thumbnail size-post-thumbnail"
					alt="John Walker"
				/>
			</figure>
			<div class="media-body media-bottom">
				<h4 class="media-heading" itemprop="name">John Walker</h4>
				<div itemprop="description">
					<ul class="list-unstyled">
						<li class="member-role" itemprop="jobTitle">Vice President</li>
						<li class="member-branch">Bangkok Branch</li>
						<li class="member-tel" itemprop="telephone">
							<span>Tel: </span><a href="tel:+66879905028">+66879905028</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-6">
		<div itemscope="" itemtype="http://schema.org/Person" class="media panel dd-member">
			<figure itemprop="image" class="media-left">
				<img
					decoding="async"
					src="/assets/images/gordon_goldman1.jpg"
					class="attachment-post-thumbnail size-post-thumbnail"
					alt="Gordon Goldman"
				/>
			</figure>
			<div class="media-body media-bottom">
				<h4 class="media-heading" itemprop="name">Gordon Goldman</h4>
				<div itemprop="description">
					<ul class="list-unstyled">
						<li class="member-role" itemprop="jobTitle">Vice President</li>
						<li class="member-branch">Bangkok Branch</li>
						<li class="member-tel" itemprop="telephone">
							<span>Tel: </span><a href="tel:+66871075855">+66871075855</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<form action="/contact/" method="post" class="form form-horizontal well well-lg">
	<div class="form-group">
		<label for="inputName" class="col-sm-3 col-lg-2 control-label">Name</label>
		<div class="col-sm-10">
			<input
				size="40"
				maxlength="400"
				class="form-control"
				type="text"
				name="name"
				id="inputName"
				value=""
				disabled
			/>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail" class="col-sm-3 col-lg-2 control-label">Email</label>
		<div class="col-sm-10">
			<input
				size="40"
				maxlength="400"
				class="form-control"
				type="email"
				name="email"
				id="inputEmail"
				value=""
				disabled
			/>
		</div>
	</div>
	<div class="form-group">
		<label for="inputRequest" class="col-sm-3 col-lg-2 control-label">Request</label>
		<div class="col-sm-10">
			<textarea
				cols="40"
				rows="6"
				maxlength="2000"
				class="form-control"
				name="message"
				id="inputRequest"
				disabled
			></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-lg-offset-2 col-sm-10">
			<input class="btn btn-primary" type="submit" value="Send request" disabled />
		</div>
	</div>
</form>
