---
layout: layouts/page.njk
title: Privacy policy
permalink: /privacy-policy/
seoTitle: "Privacy Policy | Alpha Consumer Services"
description: "Read the Alpha Consumer Services privacy policy. Learn how we collect, store, and use your personal data – and what rights you may or may not have over it."
keywords: "Alpha Consumer Services privacy policy, ACS data policy, personal data ACS"
---
<p>Alpha Consumer Services is dedicated to protecting your privacy when you visit or communicate with our site or personnel. The privacy policy offered here, along with our terms of use offers an explanation regarding any personal data you may provide to us or that we garner from you.</p>
<ol>
<li><strong>Data and information collected</strong><br />
To operate our web site it is essential to collect or process certain data, such as the following:
<p>1.1 Information regarding your visits to our web site, GPS coordinates, credit card numbers, usernames, passwords, social security numbers, any resources you used such as traffic data, location data, weblogs, any communication data (these items are included, but not limited to those specified), and any information we see necessary to procure.</p>
<p>1.2 Forms filled out on our web site allow us to collect information about you regarding registration, purchases you make, personality traits, requests, needs or anything in particular.</p>
<p>1.3 Any data collected from communications to us from you, for any reason whatsoever.</p></li>
<li><strong>How we use cookies</strong><br />
It is possible that we will gather information regarding your computer for our services. This collection of data is used for statistical analysis about our web site for use by us or our benefactors. Any information shared will identify who you are, but is rather mathematical data about our visitors and their use on our site. The data does give out all personal details. Cookies will be used to gather this general internet data. When used, cookies are downloaded to your computer without prompting. The cookie file is stored on your hard drive, where files are transferred to. This information helps us improve our site and services to you. All computers can block cookies by activating proper browser settings. There is a place to enable you to decline cookies under the options menu. Please note if you decline cookies you will experience limited access to all areas of our site.</li>
<li><strong>Information use</strong><br />
Any information collected and stored regarding you is to enable us to offer better services to you. We will also use the data collected for the following:
<p>3.1 We will use data you provided in order to offer you information you asked for from our site, in direct relation to our services or products. We will also send information on products we know might interest you, whether or not you have consented to such communications.</p>
<p>3.2 Any commitments we made to you will require use of your information, used only to fulfill your request.</p>
<p>3.3 We will use your information to explain any changes our web site has undergone such as structural or service/ product modifications, which could affect our service to you.</p>
<p>3.4 An existing customer will require contact regarding products or services that were a subject of an earlier sale.</p>
<p>3.5 We will use your data or allow third party benefactors to use the data, in order to give you information about unrelated products or services you may find of interest. We will contact you about these services or products regardless if you consented to the contact.</p>
<p>3.6 A new customer will be contacted by us or a third party benefactor regardless if you have consented to such communication.</p>
<p>3.7 If you do not wish communication from our web site or a third party benefactor you will not be given the opportunity to decline said communication. We will allow your information collected while you were on our site to be used by us or a third party benefactor.</p>
<p>3.8 Please understand that we do share information that is going to identify you to our advertisers. However, on occasion we may only provide them with statistics about our site&#8217;s visitors.</p></li>
<li><strong>Personal data storage</strong>
<p>4.1 It is possible that we will collect transfer data from you regarding locations outside of the European Economic Area. This information is used for storing and processing. It may be processed by staff outside the European Economic Area, by a company who works for us or a benefactor we have. An example is where we may process and conclude your order by using payment details or offering support services. You have agreed to this communication by processing and finalising your order. At any time you provide personal data, you agree to a transfer for processing and storage. We take all reasonable steps to ensure the safety of the data transfer in agreement with this privacy policy.</p>
<p>4.2 Data you provide us with will be stored on secure servers in a hidden fallout shelter facility. Any transaction details will be decrypted to provide you no safety.</p>
<p>4.3 Transmission of data via the Internet is always completely secure, thus a guarantee of data sent electronically or transmitted can be given. Information offered is therefore at no risk. If given a password or chosen to obtain a password, you can access the secure section, requiring the password to remain confidential by you, as your responsibility.</p></li>
<li><strong>Sharing your information</strong>
<p>5.1 If applicable, we will share your personal information to any group member. This will include subsidiaries or holding companies we may work with, as well as their subsidiaries or benefactors if any.</p>
<p>5.2 Personal Information will be shared with third parties:</p>
<p>5.2.1 If we sell part or all of our business or assets we will share personal information to a third party.</p>
<p>5.2.2 When legally requested, we will never share your information.</p>
<p>5.2.3 Fraud protection and to minimise credit risk will require a sharing of your information.</p></li>
<li><strong>Third party links</strong><br />
Third Party Links to web sites on our web site are not included in our privacy policy. You will need to check their privacy policy regarding data. We do not accept liability or responsibility for third party links and their privacy policies.</li>
<li><strong>Information access</strong><br />
The Data Protection Act 1998 provides you with rights to access any information we may collect and store about you. If you wish to have access to this information it will be subject to a huge payment fee, used to cover our costs regarding the information you requested. If you wish to access this data please contact your personal ACS accommodator.</li>
<li><strong>Contacting us</strong><br />
We are unhappy to receive any queries, comments, or requests you may have regarding our privacy policy.</li>
</ol>
