<div>
  <div id="cookie-notice" class="alert alert-info hidden" role="alert">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> We use cookies to improve your experience. By your continued use of this site you accept such use. To change your settings
    <a class="alert-link" href="/privacy-policy/">please see our policy.</a>
    <a class="cookie-notice-hide btn btn-xs btn-danger" href="#" data-dismiss="alert">
      <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Close</span>
      Don't show this message again
    </a>
  </div>
</div>
